<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>{{title}}</h1>
  	<p>{{message}}</p>
  </body>
</html>